In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df.columns #sütun isimleri

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ['first_name', 'last_name', 'email'] #sütun isimlerine yeni atamalar yapıyoruz.

In [7]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [8]:
df.columns = [x.lower() for x in df.columns] #x ile sütunlar arasında dolaşıp her birini küçük harfe çeviriyoruz.
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [9]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True) #sütunlara yeni isim atamaları

In [10]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com'] #2. indeksteki verileri değiştiriyoruz.

In [11]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com'] # 2. indeksteki last ve email e Doe ve JohnDoe@... ataması yapıyoruz.

In [12]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [13]:
df.loc[2, 'last'] = 'Smith' # Last sütununda indeks numarası 2 olan yere Smith ismini atıyoruz.

In [14]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [15]:
df.at[2, 'last'] = 'Doe' # last sütununa ait 2 numaralı indekse ait veriyi Doe olarak değiştiriyoruz.

In [16]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [17]:
filt = (df['email'] == 'JohnDoe@email.com') #filtreleme yapıyoruz.
df[filt]['last'] = 'Smith' #last sütununa smith ataması yapıyoruz.

/var/folders/fl/lh_s30k56fg1_csdgmgfwvr80000gn/T/ipykernel_3692/1842663546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Smith'

In [18]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'

In [19]:
df['email'] = df['email'].str.lower() #email sütunundaki her veriyi küçük harfe çeviriyoruz.

In [20]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [21]:
df['email'].apply(len) #email sütunundaki verilerin uzunluklarını alıyoruz.

0    23
1    17
2    17
Name: email, dtype: int64

In [22]:
def update_email(email): #update_email fonk. oluşturduk ve içerisine email i parametre olarak aldık.
    return email.upper() # upper() ile büyük harfe çevirdik. return ile değeri döndürüyoruz.

In [23]:
df['email'].apply(update_email) #email sütunundakiler için güncelleme yapıldı.

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [24]:
df['email'] = df['email'].apply(update_email)

In [25]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [26]:
df['email'] = df['email'].apply(lambda x: x.lower()) #lambda fonk. ile küçük harfe çevirdik.

In [27]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [28]:
df['email'].apply(len) #uzunluğunu alıyoruz.

0    23
1    17
2    17
Name: email, dtype: int64

In [29]:
df.apply(len, axis='columns') #sütuna göre uzunluk axis=columns dediğimiz için

0    3
1    3
2    3
dtype: int64

In [30]:
len(df['email']) #email sütununun uzunluğu

3

In [31]:
df.apply(pd.Series.min) #serilerin minimum değerinı alıyoruz. alfabetik olarak.

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [32]:
df.apply(lambda x: x.min()) #df üzerinde işlem yapıyoruz ve minimum değerleri getiriyoruz.

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [34]:
df.map(len) #her bir verinin uzunluğunu yazıyoruz.kaç adet harf içeriyorsa.

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [35]:
df.map(str.lower) #df in string değerlerini küçük harfe çevirdik.

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [36]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'}) #first sütunu için verilerimizin yerine yeni isimler atıyoruz.

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [37]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'}) #yerlerine yeni isim ataması yaptık.

In [38]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com