In [1]:
import pandas as pd
import numpy as np

In [2]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [3]:
df = pd.DataFrame(people)

df.replace('NA', np.nan, inplace=True)  #NA olan yerlere NaN değeri atanıyor
df.replace('Missing', np.nan, inplace=True) #Missing olan yerlere NaN değeri atanıyor

In [4]:
df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [5]:
df.dropna()  #DataFrame üzerindeki tğm değerleri dolaşır ve NaN olanları siler.

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63

In [6]:
df.dropna(axis='index', how='all', subset=['last', 'email']) 
# dropna() Bu metod, DataFrame'deki boş değerlere sahip satırları kaldırmak için kullanılır.
# axis='index': Bu parametre, işlemin satırlar üzerinde (axis=0) yapılacağını belirtir. 
# how='all' : Bu parametre, satırın belirtilen sütunlarda tüm değerleri NaN ise o satırı kaldıracağını belirtir
# subset=['last', 'email']: Bu parametre, yalnızca belirtilen 'last' ve 'email' sütunlarındaki NaN değerleri kontrol etmek için kullanılır. 
# Diğer sütunlardaki NaN değerler bu işlemden etkilenmez.

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [7]:
df.isna() #Boş değer olup olmadığını tüm dataframe i kontrol eder.

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [8]:
df.fillna(0) #Nan bulunan hücrelere 0 yerleştirir.

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63
3  Chris  Schafer                        0  36
4      0        0                        0   0
5      0        0      Anonymous@email.com   0
6      0        0                        0   0

In [9]:
df.dtypes #tüm sütunlar için tip döndürür.

first    object
last     object
email    object
age      object
dtype: object

In [10]:
df['age'].mean() # age sütunu için ortalama alır.

TypeError: can only concatenate str (not "int") to str

In [11]:
df['age'] = df['age'].astype(float) #age sütununun type ını float a çevirir

In [12]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [13]:
df['age'].mean()

np.float64(46.75)